body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#results, #newGame-window {
  height: 0%;
  width: 100%;
  position: absolute;
  top: 100%;
  background: rgba(	20.8, 23.1, 27.1, 0.8);
  transition: .7s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#newGame-window {
  top: 0;
}
.game-container {
  position: relative;
  height: auto;
}
canvas {
  outline: none;
  height: 100% !important
}
.hidden {
  display: none;
}
#results.open {
  top: 0%;
  height: 100%;
}
#newGame-window.open {
  height: 100%;
}
#results p, #newGame-window p {
  color: #FFFFFF;
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: courier

}
