body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#results {
  height: 0%;
  width: 99.9%;
  position: absolute;
  top: 100%;
  background: rgba(	20.8, 23.1, 27.1, 0.8);

  overflow: hidden;
}
.game-container {
  position: relative;
}
canvas {
  outline: none;
}
.hidden {
  display: none;
}
#results.open {
  top: 0%;
  height: 99.5%;
  transition: .7s;
}
#results p {
  color: #FFFFFF;
  font-size: 50px;
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
  font-family: courier

}
